*{

	background-color: #FFE4E1;
}

h1{
	font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #E9967A;
}

 header{
 	color: lightblue;
 }

 .imagenes{
 	margin-left: 25%;
 }

 .video{
 	margin-left: 19%;
 }